* {
  padding: 0;
  margin: 0;
  border: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ul li {
  list-style: none;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button:focus, button:active, input:focus {
  outline: none;
}

html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 767.98px) {
  .wrapper .container {
    max-width: none;
    margin: 0;
  }
}
.wrapper .header {
  background-color: #2F2F2F;
  min-height: 86px;
}
.wrapper .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 86px;
  padding: 30px 0px 0px;
}
.wrapper .header-content__logo {
  z-index: 7;
}
.wrapper .header-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .wrapper .header-content__list {
    padding-top: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2F2F2F;
    font-size: 24px;
    z-index: 5;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
.wrapper .header-content__list--active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.wrapper .header-content__item {
  margin-right: 40px;
}
.wrapper .header-content__item:last-child {
  padding-left: 50px;
  margin-right: 0px;
}
@media (max-width: 767.98px) {
  .wrapper .header-content__item {
    margin-right: 0px;
    padding-left: 0px;
  }
}
.wrapper .header-content__link {
  color: #fff;
  line-height: 160%;
}
.wrapper .header-content__link:hover {
  color: #F59B00;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
@media (max-width: 767.98px) {
  .wrapper .header-content__button {
    position: absolute;
    top: 30px;
    right: 70px;
  }
}
.wrapper .header-content .menu-btn {
  background-color: transparent;
  width: 30px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .header-content .menu-btn span {
  background-color: #fff;
  height: 2px;
  width: 25px;
}
@media (max-width: 767.98px) {
  .wrapper .header-content .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
  }
}

.button {
  color: #fff;
  font-weight: 500;
  line-height: 120%;
  background-color: #F59B00;
  border-radius: 5px;
  padding: 15px 30px;
}
.button:hover {
  color: #2F2F2F;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.stylish {
  background: url("../img/discount.svg") 35% 78% no-repeat, url("../img/bg-image.png") 80% 0% no-repeat;
  background-color: #2F2F2F;
}
@media (max-width: 1670px) {
  .stylish {
    background: url("../img/discount.svg") 32% 78% no-repeat, url("../img/bg-image.png") 86% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1460px) {
  .stylish {
    background: url("../img/discount.svg") 27% 78% no-repeat, url("../img/bg-image.png") 95% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1350px) {
  .stylish {
    background: url("../img/discount.svg") 28% 78% no-repeat, url("../img/bg-image.png") 111% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1255px) {
  .stylish {
    background: url("../img/discount.svg") 24% 78% no-repeat, url("../img/bg-image.png") 120% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1180px) {
  .stylish {
    background: url("../img/discount.svg") 22% 72% no-repeat, url("../img/bg-image.png") 135% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1060px) {
  .stylish {
    background: url("../img/discount.svg") 22% 72% no-repeat, url("../img/bg-image.png") 160% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 991.98px) {
  .stylish {
    background: url("../img/bg-image.png") 55% 65% no-repeat;
    background-color: #2F2F2F;
  }
}
.stylish__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .stylish__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.stylish__content-inner {
  padding: 120px 0 0px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.stylish__content-desc {
  color: #F59B00;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.stylish__content-title {
  color: #fff;
  font-size: 61px;
  font-weight: 700;
  line-height: 130%;
  text-transform: capitalize;
  max-width: 460px;
  padding-bottom: 25px;
}
.stylish__content-title img {
  text-align: center;
  max-width: 100%;
  position: relative;
  top: 20px;
}
@media (max-width: 1180px) {
  .stylish__content-title {
    font-size: 42px;
    max-width: 307px;
  }
  .stylish__content-title img {
    max-width: 50%;
    top: 13px;
  }
}
@media (max-width: 1050px) {
  .stylish__content-title {
    font-size: 36px;
    max-width: 271px;
  }
  .stylish__content-title img {
    top: 12px;
  }
}
.stylish__content-text {
  color: #fff;
  line-height: 160%;
  text-transform: capitalize;
  opacity: 0.6;
  max-width: 432px;
  padding-bottom: 35px;
}
@media (max-width: 1180px) {
  .stylish__content-text {
    font-size: 14px;
    max-width: 256px;
  }
}
.stylish__content-img {
  max-width: 100%;
  max-height: 724px;
  overflow: hidden;
}
.stylish__content-img img {
  max-width: 100%;
  position: relative;
  bottom: -8px;
}
@media (max-width: 725px) {
  .stylish__content-img img {
    bottom: -70px;
  }
}
@media (max-width: 375px) {
  .stylish__content-img img {
    bottom: -42px;
  }
}