* {
  padding: 0;
  margin: 0;
  border: none;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ul li {
  list-style: none;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button:focus, button:active, input:focus {
  outline: none;
}

html, body {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 767.98px) {
  .wrapper .container {
    max-width: none;
    margin: 0;
  }
}
.wrapper .header {
  background-color: #2F2F2F;
  min-height: 86px;
}
.wrapper .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 86px;
  padding: 30px 0px 0px;
}
.wrapper .header-content__logo {
  z-index: 7;
}
.wrapper .header-content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .wrapper .header-content__list {
    padding-top: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #2F2F2F;
    font-size: 24px;
    z-index: 5;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
.wrapper .header-content__list--active {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
.wrapper .header-content__item {
  margin-right: 40px;
}
.wrapper .header-content__item:last-child {
  padding-left: 50px;
  margin-right: 0px;
}
@media (max-width: 767.98px) {
  .wrapper .header-content__item {
    margin-right: 0px;
    padding-left: 0px;
  }
}
.wrapper .header-content__link {
  color: #fff;
  line-height: 160%;
}
.wrapper .header-content__link:hover {
  color: #F59B00;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
@media (max-width: 767.98px) {
  .wrapper .header-content__button {
    position: absolute;
    top: 30px;
    right: 70px;
  }
}
.wrapper .header-content .menu-btn {
  background-color: transparent;
  width: 30px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .header-content .menu-btn span {
  background-color: #fff;
  height: 2px;
  width: 25px;
}
@media (max-width: 767.98px) {
  .wrapper .header-content .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
  }
}

.button {
  color: #fff;
  font-weight: 500;
  line-height: 120%;
  background-color: #F59B00;
  border-radius: 5px;
  padding: 15px 30px;
}
.button:hover {
  color: #2F2F2F;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.stylish {
  background: url("../img/discount.svg") 35% 78% no-repeat, url("../img/bg-image.png") 80% 0% no-repeat;
  background-color: #2F2F2F;
}
@media (max-width: 1670px) {
  .stylish {
    background: url("../img/discount.svg") 32% 78% no-repeat, url("../img/bg-image.png") 86% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1460px) {
  .stylish {
    background: url("../img/discount.svg") 27% 78% no-repeat, url("../img/bg-image.png") 95% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1350px) {
  .stylish {
    background: url("../img/discount.svg") 28% 78% no-repeat, url("../img/bg-image.png") 111% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1255px) {
  .stylish {
    background: url("../img/discount.svg") 24% 78% no-repeat, url("../img/bg-image.png") 120% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1180px) {
  .stylish {
    background: url("../img/discount.svg") 22% 72% no-repeat, url("../img/bg-image.png") 135% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 1060px) {
  .stylish {
    background: url("../img/discount.svg") 22% 72% no-repeat, url("../img/bg-image.png") 160% 0% no-repeat;
    background-color: #2F2F2F;
  }
}
@media (max-width: 991.98px) {
  .stylish {
    background: url("../img/bg-image.png") 55% 65% no-repeat;
    background-color: #2F2F2F;
  }
}
.stylish__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .stylish__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.stylish__content-inner {
  padding: 120px 0 0px;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.stylish__content-desc {
  color: #F59B00;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.stylish__content-title {
  color: #fff;
  font-size: 61px;
  font-weight: 700;
  line-height: 130%;
  text-transform: capitalize;
  max-width: 460px;
  padding-bottom: 25px;
}
.stylish__content-title img {
  text-align: center;
  max-width: 100%;
  position: relative;
  top: 20px;
}
@media (max-width: 1180px) {
  .stylish__content-title {
    font-size: 42px;
    max-width: 307px;
  }
  .stylish__content-title img {
    max-width: 50%;
    top: 13px;
  }
}
@media (max-width: 1050px) {
  .stylish__content-title {
    font-size: 36px;
    max-width: 271px;
  }
  .stylish__content-title img {
    top: 12px;
  }
}
.stylish__content-text {
  color: #fff;
  line-height: 160%;
  text-transform: capitalize;
  opacity: 0.6;
  max-width: 432px;
  padding-bottom: 35px;
}
@media (max-width: 1180px) {
  .stylish__content-text {
    font-size: 14px;
    max-width: 256px;
  }
}
.stylish__content-img {
  max-width: 100%;
  max-height: 724px;
  overflow: hidden;
}
.stylish__content-img img {
  max-width: 100%;
  position: relative;
  bottom: -8px;
}
@media (max-width: 725px) {
  .stylish__content-img img {
    bottom: -70px;
  }
}
@media (max-width: 375px) {
  .stylish__content-img img {
    bottom: -42px;
  }
}

.advantages {
  padding: 130px 0px;
}
@media (max-width: 767.98px) {
  .advantages {
    padding: 60px 0px;
  }
}
.advantages__content {
  position: relative;
}
.advantages__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  margin-bottom: 49px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.advantages__content-item {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
  padding-bottom: 44px;
}
.advantages__content-item:hover::after {
  display: block;
  content: "";
  width: 264px;
  height: 5px;
  border-radius: 2.5px;
  background: #F59B00;
  margin-top: 44px;
}
@media (max-width: 767.98px) {
  .advantages__content-item {
    font-size: 16px;
    max-width: 127px;
  }
}
@media (max-width: 480px) {
  .advantages__content-item {
    font-size: 12px;
  }
}
.advantages__content-line {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #F59B00;
  opacity: 0.1;
  margin: 44px 0px;
}
.advantages__content-link {
  color: #2F2F2F;
}
.advantages__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
@media (max-width: 767.98px) {
  .advantages__content-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .advantages__content-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.advantages__content-img img {
  max-width: 100%;
}

.creative-bag {
  margin-bottom: 140px;
  padding-bottom: 60px;
  background: url("../img/mainbg-1.jpg") 25% 20% no-repeat;
  background-size: 40%;
}
@media (max-width: 1670px) {
  .creative-bag {
    background: url("../img/mainbg-1.jpg") 15% 0% no-repeat;
  }
}
@media (max-width: 1550px) {
  .creative-bag {
    background: url("../img/mainbg-1.jpg") 15% 0% no-repeat;
    background-size: 50%;
  }
}
@media (max-width: 1350px) {
  .creative-bag {
    background: url("../img/mainbg-1.jpg") 0% 0% no-repeat;
    background-size: 60%;
  }
}
@media (max-width: 1160px) {
  .creative-bag {
    background: url("../img/mainbg-1.jpg") 5% 0% no-repeat;
    background-size: 60%;
  }
}
@media (max-width: 1140px) {
  .creative-bag {
    background: url("../img/mainbg-1.jpg") 50% 85% no-repeat;
    background-size: 60%;
  }
}
@media (max-width: 991.98px) {
  .creative-bag {
    background: url("../img/mainbg-1.jpg") 50% 85% no-repeat;
    background-size: 75%;
  }
}
@media (max-width: 767.98px) {
  .creative-bag {
    background: url("../img/mainbg-1.jpg") 35% 115% no-repeat;
    background-size: 85%;
  }
}
@media (max-width: 650px) {
  .creative-bag {
    background: none;
    background-size: none;
    padding-bottom: 0px;
    margin-bottom: 50px;
  }
}
.creative-bag__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1140px) {
  .creative-bag__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.creative-bag__content-img {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
}
.creative-bag__content-img_1 {
  max-width: 80%;
  position: absolute;
  top: 130px;
  left: 25px;
}
.creative-bag__content-img_2 {
  max-width: 100%;
  position: relative;
  right: -115px;
  z-index: 10;
}
.creative-bag__content-img_3 {
  max-width: 80%;
  position: absolute;
  top: 117px;
  right: 170px;
}
@media (max-width: 1160px) {
  .creative-bag__content-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
  }
  .creative-bag__content-img_1 {
    max-width: 80%;
    position: absolute;
    top: 130px;
    left: 85px;
  }
  .creative-bag__content-img_2 {
    max-width: 100%;
    position: relative;
    right: -165px;
    z-index: 10;
  }
  .creative-bag__content-img_3 {
    max-width: 80%;
    position: absolute;
    top: 117px;
    right: 140px;
  }
}
@media (max-width: 1140px) {
  .creative-bag__content-img {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .creative-bag__content-img_1 {
    max-width: 100%;
    position: absolute;
    top: 130px;
    left: -50px;
  }
  .creative-bag__content-img_2 {
    max-width: 100%;
    position: relative;
    right: -21px;
    z-index: 10;
  }
  .creative-bag__content-img_3 {
    max-width: 100%;
    position: absolute;
    top: 117px;
    right: -90px;
  }
}
@media (max-width: 767.98px) {
  .creative-bag__content-img_1 {
    max-width: 70%;
    position: absolute;
    top: 30px;
    left: 3px;
  }
  .creative-bag__content-img_2 {
    max-width: 70%;
    position: relative;
    top: 30px;
    right: -85px;
    z-index: 10;
  }
  .creative-bag__content-img_3 {
    max-width: 70%;
    position: absolute;
    top: 11px;
    right: -35px;
  }
}
@media (max-width: 650px) {
  .creative-bag__content-img_1 {
    max-width: 45%;
    position: absolute;
    top: 30px;
    left: 45px;
  }
  .creative-bag__content-img_2 {
    max-width: 60%;
    position: relative;
    top: 30px;
    right: -115px;
    z-index: 10;
  }
  .creative-bag__content-img_3 {
    max-width: 45%;
    position: absolute;
    top: 11px;
    right: -10px;
  }
}
@media (max-width: 500px) {
  .creative-bag__content-img_1 {
    max-width: 25%;
    position: absolute;
    top: 40px;
    left: 70px;
  }
  .creative-bag__content-img_2 {
    max-width: 40%;
    position: relative;
    top: 30px;
    right: -115px;
    z-index: 10;
  }
  .creative-bag__content-img_3 {
    max-width: 25%;
    position: absolute;
    top: 32px;
    left: 220px;
  }
}
@media (max-width: 390px) {
  .creative-bag__content-img_1 {
    max-width: 25%;
    position: absolute;
    top: 40px;
    left: 45px;
  }
  .creative-bag__content-img_2 {
    max-width: 40%;
    position: relative;
    top: 30px;
    right: -80px;
    z-index: 10;
  }
  .creative-bag__content-img_3 {
    max-width: 25%;
    position: absolute;
    top: 35px;
    left: 160px;
  }
}
.creative-bag__content-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
@media (max-width: 1160px) {
  .creative-bag__content-description {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
}
.creative-bag__content-desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  color: #F59B00;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media (max-width: 1350px) {
  .creative-bag__content-desc {
    font-size: 17px;
  }
}
.creative-bag__content-title {
  font-size: 31px;
  font-weight: 700;
  line-height: 140%;
  color: #2F2F2F;
  text-transform: capitalize;
  padding-bottom: 24px;
}
@media (max-width: 1350px) {
  .creative-bag__content-title {
    font-size: 24px;
  }
}
@media (max-width: 1160px) {
  .creative-bag__content-title {
    font-size: 20px;
  }
}
.creative-bag__content-text {
  color: #2F2F2F;
  line-height: 160%;
  opacity: 0.8;
  padding-bottom: 35px;
}
@media (max-width: 1350px) {
  .creative-bag__content-text {
    font-size: 14px;
  }
}

.available {
  margin-bottom: 130px;
}
@media (max-width: 767.98px) {
  .available {
    margin-bottom: 50px;
  }
}
.available__content {
  text-align: center;
}
.available__content-title {
  font-size: 31px;
  font-weight: 700;
  line-height: 140%;
  -webkit-column-rule-color: #2F2F2F;
     -moz-column-rule-color: #2F2F2F;
          column-rule-color: #2F2F2F;
  text-transform: capitalize;
  margin-bottom: 25px;
}
@media (max-width: 767.98px) {
  .available__content-title {
    font-size: 24px;
  }
}
.available__content-text {
  line-height: 160%;
  color: #2F2F2F;
  text-transform: capitalize;
  max-width: 510px;
  margin: 0 auto;
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .available__content-text {
    font-size: 12px;
  }
}
.available__content-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 84px;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
  margin-bottom: 125px;
}
@media (max-width: 1200px) {
  .available__content-items {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media (max-width: 890px) {
  .available__content-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 590px) {
  .available__content-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.available__content-item_1 {
  width: 264px;
  height: 270px;
  background-color: #FFE1E8;
  border-radius: 10px;
}
.available__content-item_1 img {
  max-width: 100%;
}
.available__content-item_2 {
  width: 264px;
  height: 263px;
  background-color: #FFE1E8;
  border-radius: 10px;
}
.available__content-item_2 img {
  max-width: 100%;
}
.available__content-item_3 {
  width: 264px;
  height: 263px;
  background-color: #F9DCFF;
  border-radius: 10px;
}
.available__content-item_3 img {
  max-width: 100%;
}
.available__content-item_4 {
  width: 264px;
  height: 263px;
  background-color: #FFDEE7;
  border-radius: 10px;
}
.available__content-item_4 img {
  max-width: 100%;
}
.available__content-item_5 {
  width: 264px;
  height: 263px;
  background-color: #ECF1FF;
  border-radius: 10px;
}
.available__content-item_5 img {
  max-width: 100%;
}
.available__content-item_6 {
  width: 264px;
  height: 263px;
  background-color: #FADADE;
  border-radius: 10px;
}
.available__content-item_6 img {
  max-width: 100%;
}
.available__content-item_7 {
  width: 264px;
  height: 263px;
  background-color: #D9E6FE;
  border-radius: 10px;
}
.available__content-item_7 img {
  max-width: 100%;
}
.available__content-item_8 {
  width: 264px;
  height: 263px;
  background-color: #EBF4BF;
  border-radius: 10px;
}
.available__content-item_8 img {
  max-width: 100%;
}
.available__content-button {
  font-weight: 500;
  line-height: 120%;
  color: #F59B00;
  padding: 15px 30px;
  border: 1px solid rgba(245, 155, 0, 0.2);
  border-radius: 5px;
}
.available__content-button:hover {
  border: 1px solid rgba(101, 64, 1, 0.2);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.available__content-button img {
  margin-left: 10px;
  position: relative;
  top: 3px;
}