.main {
    flex-grow: 1;
}

.stylish {
    background: url('../img/discount.svg') 35% 78% no-repeat, url('../img/bg-image.png') 80% 0% no-repeat;
    background-color: #2F2F2F;


    @media (max-width: 1670px) {
        background: url('../img/discount.svg') 32% 78% no-repeat, url('../img/bg-image.png') 86% 0% no-repeat;
        background-color: #2F2F2F;
    }

    @media (max-width: 1460px) {
        background: url('../img/discount.svg') 27% 78% no-repeat, url('../img/bg-image.png') 95% 0% no-repeat;
        background-color: #2F2F2F;
    }

    @media (max-width: 1350px) {
        background: url('../img/discount.svg') 28% 78% no-repeat, url('../img/bg-image.png') 111% 0% no-repeat;
        background-color: #2F2F2F;
    }

    @media (max-width: 1255px) {
        background: url('../img/discount.svg') 24% 78% no-repeat, url('../img/bg-image.png') 120% 0% no-repeat;
        background-color: #2F2F2F;
    }

    @media (max-width: 1180px) {
        background: url('../img/discount.svg') 22% 72% no-repeat, url('../img/bg-image.png') 135% 0% no-repeat;
        background-color: #2F2F2F;
    }

    @media (max-width: 1060px) {
        background: url('../img/discount.svg') 22% 72% no-repeat, url('../img/bg-image.png') 160% 0% no-repeat;
        background-color: #2F2F2F;
    }

    @media (max-width: 991.98px) {
        background: url('../img/bg-image.png') 55% 65% no-repeat;
        background-color: #2F2F2F;
    }


    &__content {
        display: flex;
        justify-content: space-between;

        @media (max-width: 991.98px) {
            flex-direction: column;

        }
    }

    &__content-inner {
        padding: 120px 0 0px;
        column-gap: 80px;
    }

    &__content-desc {
        color: #F59B00;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    &__content-title {
        color: #fff;
        font-size: 61px;
        font-weight: 700;
        line-height: 130%;
        text-transform: capitalize;
        max-width: 460px;
        padding-bottom: 25px;

        img {
            text-align: center;
            max-width: 100%;
            position: relative;
            top: 20px;
        }

        @media (max-width: 1180px) {
            font-size: 42px;
            max-width: 307px;

            img {
                max-width: 50%;
                top: 13px;
            }
        }

        @media (max-width: 1050px) {
            font-size: 36px;
            max-width: 271px;

            img {
                top: 12px;
            }
        }
    }

    &__content-text {
        color: #fff;
        line-height: 160%;
        text-transform: capitalize;
        opacity: .6;
        max-width: 432px;
        padding-bottom: 35px;

        @media (max-width: 1180px) {
            font-size: 14px;
            max-width: 256px;
        }
    }

    &__content-img {
        max-width: 100%;
        max-height: 724px;
        overflow: hidden;

        img {
            max-width: 100%;
            position: relative;
            bottom: -8px;


            @media (max-width: 725px) {
                bottom: -70px;
            }

            @media (max-width: 375px) {
                bottom: -42px;
            }
        }

    }
}

// Advantages

.advantages {
    padding: 130px 0px;

    @media (max-width: 767.98px) {
        padding: 60px 0px;
    }

    &__content {
        position: relative;
    }

    &__content-list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        margin-bottom: 49px;
        column-gap: 15px;
    }

    &__content-item {
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        text-transform: capitalize;
        padding-bottom: 44px;

        &:hover {
            &::after {
                display: block;
                content: "";
                width: 264px;
                height: 5px;
                border-radius: 2.5px;
                background: #F59B00;
                margin-top: 44px;
            }
        }

        @media (max-width: 767.98px) {
            font-size: 16px;
            max-width: 127px;
        }

        @media (max-width: 480px) {
            font-size: 12px;
        }
    }

    &__content-line {
        position: absolute;
        top: 34px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: #F59B00;
        opacity: 0.1;
        margin: 44px 0px;
    }

    &__content-link {
        color: #2F2F2F;
    }

    &__content-items {
        display: flex;
        column-gap: 30px;

        @media (max-width: 767.98px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        @media (max-width: 480px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }

    &__content-img {
        img {
            max-width: 100%;
        }
    }
}

// Creative bag

.creative-bag {
    margin-bottom: 140px;
    padding-bottom: 60px;
    background: url('../img/mainbg-1.jpg') 25% 20% no-repeat;
    background-size: 40%;

    @media (max-width: 1670px) {
        background: url('../img/mainbg-1.jpg') 15% 0% no-repeat;
    }

    @media (max-width: 1550px) {
        background: url('../img/mainbg-1.jpg') 15% 0% no-repeat;
        background-size: 50%;
    }

    @media (max-width: 1350px) {
        background: url('../img/mainbg-1.jpg') 0% 0% no-repeat;
        background-size: 60%;
    }

    @media (max-width: 1160px) {
        background: url('../img/mainbg-1.jpg') 5% 0% no-repeat;
        background-size: 60%;
    }

    @media (max-width: 1140px) {
        background: url('../img/mainbg-1.jpg') 50% 85% no-repeat;
        background-size: 60%;
    }

    @media (max-width: 991.98px) {
        background: url('../img/mainbg-1.jpg') 50% 85% no-repeat;
        background-size: 75%;
    }

    @media (max-width: 767.98px) {
        background: url('../img/mainbg-1.jpg') 35% 115% no-repeat;
        background-size: 85%;
    }

    @media (max-width: 650px) {
        background: none;
        background-size: none;
        padding-bottom: 0px;
        margin-bottom: 50px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1140px) {
            flex-direction: column-reverse;
            justify-content: center;
        }
    }

    &__content-img {
        position: relative;
        flex: 1 1 70%;

        &_1 {
            max-width: 80%;
            position: absolute;
            top: 130px;
            left: 25px;
        }

        &_2 {
            max-width: 100%;
            position: relative;
            right: -115px;
            z-index: 10;
        }

        &_3 {
            max-width: 80%;
            position: absolute;
            top: 117px;
            right: 170px;
        }

        @media (max-width: 1160px) {
            flex: 1 1 80%;

            &_1 {
                max-width: 80%;
                position: absolute;
                top: 130px;
                left: 85px;
            }
    
            &_2 {
                max-width: 100%;
                position: relative;
                right: -165px;
                z-index: 10;
            }

            &_3 {
                max-width: 80%;
                position: absolute;
                top: 117px;
                right: 140px;
            }
        }

        @media (max-width: 1140px) {
            flex: none;

            &_1 {
                max-width: 100%;
                position: absolute;
                top: 130px;
                left: -50px;
            }
    
            &_2 {
                max-width: 100%;
                position: relative;
                right: -21px;
                z-index: 10;
            }

            &_3 {
                max-width: 100%;
                position: absolute;
                top: 117px;
                right: -90px;
            }
        }

        @media (max-width: 767.98px) {

            &_1 {
                max-width: 70%;
                position: absolute;
                top: 30px;
                left: 3px;
            }
    
            &_2 {
                max-width: 70%;
                position: relative;
                top: 30px;
                right: -85px;
                z-index: 10;
            }

            &_3 {
                max-width: 70%;
                position: absolute;
                top: 11px;
                right: -35px;
            }
        }

        @media (max-width: 650px) {

            &_1 {
                max-width: 45%;
                position: absolute;
                top: 30px;
                left: 45px;
            }
    
            &_2 {
                max-width: 60%;
                position: relative;
                top: 30px;
                right: -115px;
                z-index: 10;
            }

            &_3 {
                max-width: 45%;
                position: absolute;
                top: 11px;
                right: -10px;
            }
        }

        @media (max-width: 500px) {

            &_1 {
                max-width: 25%;
                position: absolute;
                top:40px;
                left: 70px;
            }
    
            &_2 {
                max-width: 40%;
                position: relative;
                top: 30px;
                right: -115px;
                z-index: 10;
            }

            &_3 {
                max-width: 25%;
                position: absolute;
                top: 32px;
                left: 220px;
            }
        }

        @media (max-width: 390px) {

            &_1 {
                max-width: 25%;
                position: absolute;
                top:40px;
                left: 45px;
            }
    
            &_2 {
                max-width: 40%;
                position: relative;
                top: 30px;
                right: -80px;
                z-index: 10;
            }

            &_3 {
                max-width: 25%;
                position: absolute;
                top: 35px;
                left: 160px;
            }
        }
    }

    &__content-description {
        flex: 1 1 30%;
        
        @media (max-width: 1160px) {
           flex: 1 1 30%;
        }
    }

    &__content-desc {
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        color: #F59B00;
        text-transform: uppercase;
        padding-bottom: 10px;

        @media (max-width: 1350px) {
            font-size: 17px;
        }
        
    }

    &__content-title {
        font-size: 31px;
        font-weight: 700;
        line-height: 140%;
        color: #2F2F2F;
        text-transform: capitalize;
        padding-bottom: 24px;

        @media (max-width: 1350px) {
            font-size: 24px;
        }

        @media (max-width: 1160px) {
            font-size: 20px;
        }
    }

    &__content-text {
        color: #2F2F2F;
        line-height: 160%;
        opacity: .8;
        padding-bottom: 35px;

        @media (max-width: 1350px) {
            font-size: 14px;
        }
    }


}

// Available

.available {

    margin-bottom: 130px;

    @media (max-width: 767.98px) {
        margin-bottom: 50px;
    }
    
    &__content {
        text-align: center;
    }

    &__content-title {
        font-size: 31px;
        font-weight: 700;
        line-height: 140%;
        column-rule-color: #2F2F2F;
        text-transform: capitalize;
        margin-bottom: 25px;

        @media (max-width: 767.98px) {
            font-size: 24px;
        }
    }

    &__content-text {
        line-height: 160%;
        color: #2F2F2F;
        text-transform: capitalize;
        max-width: 510px;
        margin: 0 auto;
        margin-bottom: 60px;

        @media (max-width: 767.98px) {
            font-size: 12px;
        }
    }

    &__content-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center;
        row-gap: 84px;
        column-gap: 28px;
        margin-bottom: 125px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
        }

        @media (max-width: 890px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 590px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__content-item_1 {
        width: 264px;
        height: 270px;
        background-color: #FFE1E8;
        border-radius: 10px;

        img {
            max-width: 100%;
        }
    }

    &__content-item_2 {
        width: 264px;
        height: 263px;
        background-color: #FFE1E8;
        border-radius: 10px;

        img {
            max-width: 100%;
        }
    }

    &__content-item_3 {
        width: 264px;
        height: 263px;
        background-color: #F9DCFF;
        border-radius: 10px;

        img {
            max-width: 100%;
        }
    }
    &__content-item_4 {
        width: 264px;
        height: 263px;
        background-color: #FFDEE7;
        border-radius: 10px;

        img {
            max-width: 100%;
        }
    }
    &__content-item_5 {
        width: 264px;
        height: 263px;
        background-color: #ECF1FF;
        border-radius: 10px;

        img {
            max-width: 100%;
        }
    }
    &__content-item_6 {
        width: 264px;
        height: 263px;
        background-color: #FADADE;
        border-radius: 10px;

        img {
            max-width: 100%;
        }
    }
    &__content-item_7 {
        width: 264px;
        height: 263px;
        background-color: #D9E6FE;
        border-radius: 10px;

        img {
            max-width: 100%;
        }
    }
    &__content-item_8 {
        width: 264px;
        height: 263px;
        background-color: #EBF4BF;
        border-radius: 10px;

        img {
            max-width: 100%;
        }
    }

    &__content-button {
        font-weight: 500;
        line-height: 120%;
        color: #F59B00;
        padding: 15px 30px;
        border: 1px solid rgba(245, 155, 0, 0.20);
        border-radius: 5px;

        &:hover {
            border: 1px solid rgba(101, 64, 1, 0.2);
            transition: 0.2s ease-in-out;
        }
        

        img {
            margin-left: 10px;
            position: relative;
            top: 3px;
        }
    }
}

// Form

.form {

    margin-bottom: 130px;

    @media (max-width: 767.98px) {
        margin-bottom: 50px;
    }

    &__content {
        display: flex;
        align-items: center;
        text-align: center;

        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }

    &__content-img {
        max-width: 492px;
        max-height: 549px;
        background: #000;
        border-radius: 10px 0px 0px 10px;

        img {
            opacity: 0.5;
            max-width: 100%;
        }

        @media (max-width: 1200px) {
            border-radius: 0px;
        }
    }

    &__content-inner {
        display: flex;
        flex-direction: column;
        background-color: #2F2F2F;
        max-width: 654px;
        width: 100%;
        height: 549px;
        flex-wrap: wrap;
        border-radius: 0px 10px 10px 0px;

        @media (max-width: 1200px) {
            flex-wrap: nowrap;
            border-radius: 0px;
            max-width: 492px;
        }
    }

    &__content-title {
        padding: 104px 0px 0px;
        font-size: 31px;
        font-weight: 700;
        line-height: 140%;
        color: #fff;
        max-width: 447px;
        margin-left: 50px;
        text-align: left;
        text-transform: capitalize;
        margin-bottom: 44px;

        @media (max-width: 1200px) {
            padding-top: 50px;
            font-size: 24px;
            margin-left: 0px;
            text-align: center;
        }
    }

    &__content-form {
        @media (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__content-input {
        color: #fff;
        line-height: 120%;
        opacity: 0.25;
        padding: 18px 30px;
        border: 1px solid #fff;
        border-radius: 10px;
        max-width: 232px;
        margin: 0 auto;
        margin-right: 50px;
        margin-bottom: 30px;

        &::placeholder {
            color: #fff;
            opacity: 0.6;
        }

        &:last-child {
            margin-right: 0px;
        }
        @media (max-width: 1200px) {
            margin: 0px 0px 30px;
            max-width: 332px;
        }
    }

    &__content-adress {
        max-width: 514px;
        width: 100%;
        margin-right: 50px;
        padding: 18px 40px;
        border: 1px solid #fff;
        border-radius: 10px;
        color: #fff;
        opacity: 0.25;
        margin-bottom: 30px;

        &::placeholder {
            color: #fff;
            opacity: 0.6;
        }

        @media (max-width: 1200px) {
            max-width: 270px;
            margin-right: 0px;
        }
    }
}

// Logo

.logo {
    margin-bottom: 130px;

    @media (max-width: 767.98px) {
        margin-bottom: 50px;
    }


    &__content {
        display: flex;
        column-gap: 40px;

        @media (max-width: 1200px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
        }

        @media (max-width: 600px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            row-gap: 15px;
        }
    }
}